*{
    padding:0px;
    margin: 0px;
}

.main-box{
    width: 200px;
    height: 200px;
    background: red;
    margin: 20px;
    padding: 20px;
    border:10px solid blue;
}

.inner-div{
    width: 200px;
    height: 200px;
    background: green;
    position: absolute;
    top: 100px;
    left: 500px;
    /* -webkit-box-shadow: 2px -1px 16px 4px rgba(0,90,163,1);
    -moz-box-shadow: 2px -1px 16px 4px rgba(0,90,163,1); */
    box-shadow: 2px -1px 16px 4px rgba(0,90,163,1);
}


.navbar{
    box-shadow: 2px 7px 16px -8px rgba(0,0,0,1);
}

.navbar ul{
    display: flex;
    list-style: none;
    padding-left: 30px;
}

.navbar ul li{
    padding: 10px 20px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: bolder;
    
}

.navbar ul li a{
    text-decoration: none;
    color: black;
}

.active a{
    color:rgb(0, 0, 255);
    border-bottom: 5px solid blue;
}

.navbar ul li a:hover{
    color:rgb(0, 0, 255);
    border-bottom: 5px solid blue;
}



