.outer{
    width: 500px;
    height: 500px;
    /* background: linear-gradient(to bottom right,red ,cyan,blue); */
    /* background: linear-gradient(150deg,red ,cyan,blue); */
    /* background: repeating-linear-gradient(red,blue 10px); */
    /* background: radial-gradient(red,blue); */
    /* background: repeating-radial-gradient(red,blue 20px); */

}

.heading::first-letter{
    font-size: 2rem;
    font-weight: bolder;
}

p::first-line{
    font-weight: bolder;
}

ul{
    list-style: none;
}

ul li::before{
    content: '  ';
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWfAA-04ofDsM_gjh4OuUAL22-ZqGNY5N9jw6gDLPeHA&s');
}

