

*{
    padding:0px;
    margin:0px;
}

#hii{
    width:100%;
    height:100vh;
    background:url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1705316400&semt=sph");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h1{
    border:2px solid white;
    font-size:20px;
    font-weight: bolder;
}

.navbar{
    margin-top:20px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
}


.btn button{
    margin: 20px 10px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bolder;
    background: rgb(210, 210, 253);
    border-radius: 10px;
    transition: all 0.5s;
    /* border-top-right-radius: 30px; */
}

.btn button:hover{
    background-color: rgb(30, 30, 78);
    color:white;
}

